<div>
    <h1>component-less</h1>
    <div class="navigation">
        <div class="button-navigation" (click)="navigateToButtons()">
            <p>Buttons</p>
        </div>
        <div class="modal-navigation" (click)="navigateToModals()">
            <p>Modals</p>
        </div>
        <div class="card-navigation" (click)="navigateToCards()">
            <p>Cards</p>
        </div>
    </div>

    <div class="content">
        <div class="content-header">
            <p>No components?</p>
            <img src="no-components.jpg" alt="No components" />
        </div>
    </div>
</div>